
{{TITLE}}
a {{COORD}}
# define redundant
idef
{{CONSTRAINTS}}



# redundant
ired
*
# basis sets
# choose library (usually 1)
# for new basis add a line "basis=/foo/bar" at the end of ~/.definerc
lib
{{LIBNUM}}
# choose basis set
b all {{BASIS}}
*
# initials
eht

# Charge
{{CHARGE}}
# Accept

# RI
ri
on
*
# End everything
*
